.forma { border: solid #26734d 2px; padding: 2px;margin-top: 10px; clear: both;}
.name label {float: left; width: 11em;}
.Tx {margin-left: 11em;}
[id*="N"] {width: 50%; margin-bottom: 2px; }
[id*="E"] {width: 50%; margin-bottom: 2px;}
textarea {width: 99%}

@media only all and (max-width: 729px) {
#Q {
  width: 99%;}

}


@media only all and (max-width: 500px) {
.name label {float: none; width: 99%;}
.Tx {margin-left: 0;}

span {display: block;}

}